[Unit]
Description=Gunicorn Service
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/ubuntu/gunicon
ExecStart=/home/ubuntu/gunicon --bind 0.0.0.0:8000 wsgi:app

[Install]
WantedBy=multi-user.target
